<h1>Your Blog Posts</h1>
<a href="/dashboard/new">New Blog Post</a>
{{!-- each of the blog posts posted here --}}
{{#if blogs}}
<div>
    {{#each blogs as |blog|}}
    <div>
        <h2>{{blog.title}}</h2>
    </div>
    {{/each}}
</div>
{{else}}
<p>No blog posts yet.</p>
{{/if}}

<script src="/js/newBlogPost.js"></script>