<form id="newBlogPost">
    <div class="mb-3">
    <label for="title" class="form-label">Title of Blog Post</label>
    <input type="text" class="form-control" id="title" aria-describedby="usernameHelp">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content of Post</label>
    <textarea class="form-control" id="content"></textarea>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/newBlogPost.js"></script>