<form id="signupForm">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>If you already have account <a href="/login">click here</a></p>


<script src="/js/signup.js"></script>